
<app-navbar></app-navbar>

<section class="bg-white dark:bg-gray-900">
  <div class="py-8 px-4 mx-auto my-5 max-w-2xl lg:py-5">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Editar Datos de  facultad</h2>
      <form [formGroup]="facultadCreateForm"  action="#">
          <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
            
              <!-- fila entera  entera  --> 
              <div class="sm:col-span-2">
                  <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre de la facultad</label>
                  <input formControlName="nombre" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="nombre de la facultad" required="">
                  <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="">
                      <div *ngIf="nombre.errors?.['required']" class="text-red-600">nombre es requerido</div>
                      <div *ngIf="nombre.errors?.['text']">
                        Codigo debe tener un formato valido.
                      </div> 
                  </div>   
                  
              </div>
             
              <!-- estos ocupan una clomnua entre dos ya es una fila  -->
              <div class="w-full">
                  <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">descripcion</label>
                  <textarea formControlName="descripcion" type="number" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="descripcion de la facultad" required=""></textarea>
                  <div *ngIf="descripcion.invalid && (descripcion.dirty || descripcion.touched)" class="">
                    <div *ngIf="descripcion.errors?.['required']" class="text-red-600">descripcion es requerido</div>    
                  </div>   
              </div>
                
          </div>
          <button (click)="edit()" type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
              Editar 
          </button>
      </form>
  </div>
</section>


<app-carreracreate></app-carreracreate>



 
   








