<app-navbar></app-navbar>
<section class="bg-white dark:bg-gray-900">
    <div class="py-8 px-4 mx-auto max-w-2xl lg:py-5">
        <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Editar datos del docente</h2>
        <form [formGroup]="docenteCreateForm"  action="#">
            <div class="grid gap-4 sm:grid-cols-2 sm:gap-6">
              
                <!-- fila entera  entera  --> 
                <div class="sm:col-span-2">
                    <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre del docente</label>
                    <input formControlName="nombre" type="text" name="name" id="name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="nombre completo" required="">
                    <div *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)" class="">
                        <div *ngIf="nombre.errors?.['required']" class="text-red-600">nombre es requerido</div>
                        <div *ngIf="nombre.errors?.['text']">
                          Codigo debe tener un formato valido.
                        </div> 
                    </div>   
                    
                </div>
               
                <!-- estos ocupan una clomnua entre dos ya es una fila  -->
                <div class="w-full">
                    <label for="brand" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Telefono</label>
                    <input formControlName="telefono" type="number" name="brand" id="brand" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Telefono del docente" required="">
                    <div *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)" class="">
                        <div *ngIf="telefono.errors?.['required']" class="text-red-600">telefono es requerido</div>
                         
                    </div>   
                </div>
              
               
                
                
                
               
                <div class="sm:col-span-2">
                    <label for="description" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Direccion</label>
                    <textarea formControlName="direccion" id="description" rows="8" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:ring-primary-500 focus:border-primary-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-primary-500 dark:focus:border-primary-500" placeholder="Your description here"></textarea>
                    <div *ngIf="direccion.invalid && (direccion.dirty || direccion.touched)" class="">
                        <div *ngIf="direccion.errors?.['required']" class="text-red-600">la direccion es requerida</div>
                         
                    </div>
                </div>
            </div>
            <button (click)="edit()" type="submit" class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-primary-700 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-primary-800">
                Editar
            </button>
        </form>
    </div>
  </section>
